body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fffff0;
}
.header{
    color: white;
    background: rgb(168, 170, 19);
    font-size: 20px;
    height: 80px;
    line-height: 80px;
    padding-left: 30px;
}
.footer{
    color: rgb(236, 230, 230);
    font-size: 14px;
    font-style: italic;
    background-color: rgb(121, 4, 121);
    text-align: right;
    height: 30px;
    line-height: 30px;
    padding-right: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.content{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 20px;
    color: black;
    padding-left: 30px;
}

#time{
    color: rgb(0, 0, 0);
    font-size: 20px;
    height: 80px;
    line-height: 80px;
    padding-left: 30px;
    text-align: right;
}

